{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
  {%- assign current_product = product -%}
  {%- if item -%}
    {%- assign current_product = item.product -%}
  {%- endif -%}

  {%- assign worth_points = true -%}
  {%- if current_product -%}
    {%- for collection in current_product.collections -%}
      {%- if collection.handle == 'easy-points-point-exclusion' -%}
        {%- assign worth_points = false -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  {%- if worth_points -%}
    {%- if price -%}
      {%- assign price = price -%}
    {%- elsif item -%}
      {%- assign price = item.final_price -%}
    {%- else -%}
      {%- assign price = product.selected_or_first_available_variant.price -%}
    {%- endif -%}
    <span
      data-loyal-target="point-value"
      {% render 'easy_points_taxable', price: price %}
      {% render 'easy_points_bonus', product: current_product, quantity: item.quantity %}
    >
      <span data-loyal-target="point-value-location">-</span>
    </span>
  {%- elsif item -%}
    <span
      class="easy-points-hide"
      data-loyal-target="point-exclusion"
      {% render 'easy_points_taxable', price: item.final_line_price %}
    ></span>
  {%- else -%}
    <span
      class="easy-points-hide"
      data-loyal-target="point-exclusion-product"
      {% render 'easy_points_taxable', price: price %}
    ></span>
  {%- endif -%}
{%- comment -%} END EASYPOINTS {%- endcomment -%}
