{%- comment -%} START EASYPOINTS - DO NOT MODIFY! 変更しないでください! INFO @ https://bit.ly/2Dn7ESM {%- endcomment -%}
  <span
    class="points-after-applied-discount"
    data-loyal-target="total-points-value"
    {% render 'easy_points_taxable', price: price %}
  >
    <span data-loyal-target="point-value-location">-</span>
  </span>
{%- comment -%} END EASYPOINTS {%- endcomment -%}
